{{ block "preamble" $ }}
<!DOCTYPE html>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>{{ block "title" $ }}Notebrew{{ end }}</title>
{{ if $.ResponseContext.DevMode }}
<link rel="stylesheet" href="/cms/static/styles_v2.css">
<script type='module' src='/cms/static/notebrew.js'></script>
{{ else }}
<style>{{ $.ResponseContext.StylesCSS }}</style>
<script type='module'>{{ $.ResponseContext.NotebrewJS }}</script>
{{ end }}
{{ end }}

{{ block "side-pane" $ }}
<div id='side-pane' class='border-r border-gray-300 hidden lg:block z-1 pb-5 bg-gray-50'>
  <details class='group'>
    <summary class='w-full transition-all rounded-md'>
      <h2 class='flex flex-1 items-center text-left text-sm font-medium hover:bg-gray-200'>
        <span class='flex px-1'>{{ template "basecoat-accordion-chevron" }}</span>
        <a href='/cms/login/' class='grow'>Is it accessible?</a>
      </h2>
    </summary>
    <section>
      <p class="text-sm">Yes. It adheres to the WAI-ARIA design pattern.</p>
    </section>
  </details>
  <div>
    <h2 class='flex flex-1 items-center text-left text-sm font-medium hover:bg-gray-200'>
      <a href='/cms/login/' class='grow'>Is it accessible?</a>
    </h2>
  </div>
</div>
{{ end }}

<div id='not-side-pane' class='p-2 bg-white'>
{{ block "content" $ }}
{{ end }}
</div>
