{{ block "preamble" $ }}
<!DOCTYPE html>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>{{ block "title" $ }}Notebrew{{ end }}</title>
{{ if $.ContextData.DevMode }}
<link rel='stylesheet' href='/cms/static/styles.css'>
<script type='module' src='/cms/static/notebrew.js'></script>
{{ else }}
<style>{{ $.ContextData.StylesCSS }}</style>
<script type='module'>{{ $.ContextData.NotebrewJS }}</script>
{{ end }}
{{ end }}

{{ block "side-pane" $ }}
<aside id='side-pane' class='border-r border-gray-300 -hidden lg:block z-1 pb-5 bg-gray-50 overflow-auto'>
  <section class='flex p-2'>
    <div class='grow font-medium'>☕️ Notebrew</div>
    <div>{{ template "tabler-x" }}</div>
  </section>
  <!-- <section class='flex items-center'> -->
  <!--   <img class='size-8 shrink-0 object-cover rounded-full' alt='@hunvreus' src='https://github.com/hunvreus.png'> -->
  <!--   <div class='grow'> -->
  <!--     <div> -->
  <!--       username -->
  <!--     </div> -->
  <!--     <div class='text-sm text-muted-foreground'>email</div> -->
  <!--   </div> -->
  <!--   <div class='size-8 shrink-0 [&>svg]:size'>{{ template "tabler-settings" }}</div> -->
  <!-- </section> -->
  <details>
    <summary class='flex dropdown-chevron my-1'>
      <span class='size-5 [&>svg]:size-full [&>svg]:block mr-1'>{{ template "tabler-notebook" }}</span>
      <a href='/cms/notes/' class='truncate hover:underline font-medium'>Notes</a>
    </summary>
    <section class='flex dropdown-chevron-spacer'>
      <details class='grow'>
        <summary class='flex dropdown-chevron my-1'>
          <a href='/cms/login/' class='truncate hover:underline'>Is it accessible?</a>
        </summary>
          <section class='flex dropdown-chevron-spacer'>
            <a href='/cms/login/' class='truncate hover:underline'>hi there :3</a>
          </section>
          <section class='flex dropdown-chevron-spacer'>
            <a href='/cms/login/' class='truncate hover:underline'>hi there :3</a>
          </section>
      </details>
    </section>
  </details>
  <details>
    <summary class='flex dropdown-chevron my-1'>
      <span class='size-5 [&>svg]:size-full [&>svg]:block mr-1'>{{ template "tabler-photo" }}</span>
      <a href='/cms/notes/' class='truncate hover:underline font-medium'>Photos</a>
    </summary>
    <section class='flex dropdown-chevron-spacer'>
      <section class='flex dropdown-chevron-spacer'>
        <a href='/cms/login/' class='truncate hover:underline'>hi there :3</a>
      </section>
      <section class='flex dropdown-chevron-spacer'>
        <a href='/cms/login/' class='truncate hover:underline'>hi there :3</a>
      </section>
    </section>
  </details>
  <section class='flex dropdown-chevron-spacer my-1'>
    <a href='/cms/login/' class='truncate hover:underline font-medium'>Is it accessible?</a>
  </section>
  <section class='flex dropdown-chevron-spacer my-1'>
    <a href='/cms/login/' class='truncate hover:underline font-medium'>Is it accessible?</a>
  </section>
</aside>
{{ end }}

<div id='not-side-pane' class='p-2 bg-white'>
{{ block "content" $ }}
{{ end }}
</div>
