{{ block "preamble" $ }}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ block "title" $ }}Notebrew{{ end }}</title>
{{ if $.ContextData.DevMode }}
<link rel="stylesheet" href="/cms/static/notebrew.min.css">
<script type="module" src="/cms/static/notebrew.min.js"></script>
{{ else }}
<style>{{ $.ContextData.NotebrewCSS }}</style>
<script type="module">{{ $.ContextData.NotebrewJS }}</script>
{{ end }}
{{ end }}

{{ block "sidebar" $ }}
<aside class="sidebar z-70" data-side="left" aria-hidden="false">
  <nav aria-label="Sidebar navigation">
    <header>
      <div class="flex">
        <div class="grow font-medium">☕️ Notebrew</div>
        <button class="cursor-pointer hover:bg-gray-200 p-1" data-toggle-sidebar data-tooltip="Hide sidebar" data-side="bottom" data-align="end">{{ template "tabler-x" }}</button>
      </div>
      <div class="flex p-2 items-center">
        <img class="size-8 shrink-0 object-cover rounded-full" alt="@hunvreus" src="https://github.com/hunvreus.png">
        <div class="grow">
          <div>
            username
          </div>
          <div class="text-sm text-muted-foreground">email</div>
        </div>
        <!-- <div class="size-8 shrink-0 [&>svg]:size">{{ template "tabler-settings" }}</div> -->
        <div class="dropdown-menu">
          <button type="button" aria-haspopup="menu" aria-controls="demo-dropdown-menu-menu" aria-expanded="false" class="btn-outline" data-keep-mobile-sidebar-open>{{ template "tabler-settings" }}</button>
          <div data-popover aria-hidden="true" class="min-w-56">
            <div role="menu" aria-labelledby="demo-dropdown-menu-trigger">
              <div role="group" aria-labelledby="account-options">
                <div role="heading">My Account</div>
                <div role="menuitem">
                  Profile
                  <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
                </div>
                <div role="menuitem">
                  Billing
                  <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘B</span>
                </div>
                <div role="menuitem">
                  Settings
                  <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘S</span>
                </div>
                <div role="menuitem">
                  Keyboard shortcuts
                  <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘K</span>
                </div>
              </div>
              <hr role="separator" />
              <div role="menuitem">GitHub</div>
              <div role="menuitem">Support</div>
              <div role="menuitem" aria-disabled="true">API</div>
              <hr role="separator" />
              <div role="menuitem">
                Logout
                <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="scrollbar">
      <details role="group" aria-labelledby="notes" open>
        <summary class="text-sm font-medium text-muted-foreground flex items-center">
          <h3 id="notes" class="grow">Notes</h3>
        </summary>
        <ul>
          <li><a href="/cms/notes/">{{ template "tabler-notebook" }}Notes</a></li>
          <li><a href="/cms/notes/" title="this goes to foo">{{ template "icon-tabler-file-text" }}foo</a></li>
          <li><a href="/cms/notes/" title="this goes to bar">{{ template "icon-tabler-folder-open" }}bar</a></li>
          <li><a href="/cms/notes/" title="this goes to baz">{{ template "icon-tabler-file" }}baz</a></li>
        </ul>
      </details>
      <details role="group" aria-labelledby="photos" open>
        <summary class="text-sm font-medium text-muted-foreground flex items-center">
          <h3 id="photos" class="grow">Photos</h3>
        </summary>
        <ul>
          <li><a href="/cms/photos/">{{ template "icon-tabler-library-photo" }}Photos</a></li>
          <li><a href="/cms/photos/">{{ template "icon-tabler-photo" }}foo</a></li>
          <li><a href="/cms/photos/">{{ template "icon-tabler-folder-open" }}bar</a></li>
          <li><a href="/cms/photos/">{{ template "icon-tabler-file" }}baz</a></li>
        </ul>
      </details>
      <details role="group" aria-labelledby="blogs" open>
        <summary class="text-sm font-medium text-muted-foreground flex items-center">
          <h3 id="blogs" class="grow">Blogs</h3>
        </summary>
        <ul>
          <li>
            <details open>
              <summary aria-controls="submenu-content-1-3-content">
                bokwoon.com
              </summary>
              <ul>
                <li><a href="/cms/blogs/bokwoon.com/">Blog</a></li>
                <li><a href="/cms/blogs/bokwoon.com/">Pages</a></li>
                <li><a href="/cms/blogs/bokwoon.com/">Posts</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details open>
              <summary>
                @bokwoon
              </summary>
              <ul>
                <li><a href="/cms/blogs/bokwoon/">Blog</a></li>
                <li><a href="/cms/blogs/bokwoon/">Pages</a></li>
                <li><a href="/cms/blogs/bokwoon/">Posts</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details open>
              <summary aria-controls="submenu-content-1-3-content">
                @bokwoon
              </summary>
              <ul>
                <li><a href="/cms/blogs/bokwoon/">Blog</a></li>
                <li><a href="/cms/blogs/bokwoon/">Pages</a></li>
                <li><a href="/cms/blogs/bokwoon/">Posts</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details open>
              <summary aria-controls="submenu-content-1-3-content">
                @bokwoon
              </summary>
              <ul>
                <li><a href="/cms/blogs/bokwoon/">Blog</a></li>
                <li><a href="/cms/blogs/bokwoon/">Pages</a></li>
                <li><a href="/cms/blogs/bokwoon/">Posts</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details open>
              <summary aria-controls="submenu-content-1-3-content">
                @bokwoon
              </summary>
              <ul>
                <li><a href="/cms/blogs/bokwoon/">Blog</a></li>
                <li><a href="/cms/blogs/bokwoon/">Pages</a></li>
                <li><a href="/cms/blogs/bokwoon/">Posts</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details open>
              <summary aria-controls="submenu-content-1-3-content">
                @bokwoon
              </summary>
              <ul>
                <li><a href="/cms/blogs/bokwoon/">Blog</a></li>
                <li><a href="/cms/blogs/bokwoon/">Pages</a></li>
                <li><a href="/cms/blogs/bokwoon/">Posts</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </section>
    <footer>
      <div class="flex">
        <div class="grow font-medium">☕️ Notebrew</div>
        <button class="cursor-pointer hover:bg-gray-200 p-1" data-toggle-sidebar data-tooltip="Hide sidebar" data-side="bottom" data-align="end">{{ template "tabler-x" }}</button>
      </div>
    </footer>
  </nav>
</aside>
{{ end }}

<main>
  {{ block "content" $ }}
  <h1>Content</h1>
  {{ end }}
</main>
