{{ define "title" }}{{ $.Title }}{{ end }}
{{ template "preamble" $ }}
{{ template "menu-pane" $ }}
<div id='not-menu-pane'>
  {{ if $.Referer }}
  <div><a href='{{ $.Referer }}' data-go-back>&larr; back</a></div>
  {{ end }}
  <h3 class='text-xl font-bold text-center py-3'>{{ safeHTML $.Headline }}</h3>
  <div class='text-center py-2'>{{ safeHTML $.Byline }}</div>
  {{ if $.Details }}
  <details>
    <summary>details</summary>
    <pre class='whitespace-normal'>{{ $.Details }}</pre>
    {{ if $.Callers }}
    <strong>stack trace:</strong>
    <ul>
      {{ range $caller := $.Callers }}
      <li>{{ $caller }}</li>
      {{ end }}
    </ul>
    {{ end }}
  </details>
  {{ end }}
</div>
