{{ define "title" }}{{ $.Title }}{{ end }}
{{ template "preamble" $ }}
{{ template "menu-pane" $ }}
<div id='not-menu-pane' class='p-3 pt-5'>
  <div class="flex min-w-0 flex-1 flex-col items-center justify-center gap-6 rounded-lg p-6 text-center text-balance md:p-12 text-neutral-800 dark:text-neutral-300">
    <header class="flex max-w-sm flex-col items-center gap-3 text-center">
      <div class="mb-2 [&_svg]:pointer-events-none [&_svg]:shrink-0 bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg [&_svg:not([class*='size-'])]:size-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mood-puzzled"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14.986 3.51a9 9 0 1 0 1.514 16.284c2.489 -1.437 4.181 -3.978 4.5 -6.794" /><path d="M10 10h.01" /><path d="M14 8h.01" /><path d="M12 15c1 -1.333 2 -2 3 -2" /><path d="M20 9v.01" /><path d="M20 6a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" /></svg>
      </div>
      <h3 class="text-lg font-semibold tracking-tight">{{ safeHTML $.Headline }}</h3>
      <p class="text-muted-foreground text-sm/relaxed">{{ safeHTML $.Byline }}</p>
    </header>
    {{ if $.Details }}
    <details>
      <summary>details</summary>
      <pre class='whitespace-normal'>{{ $.Details }}</pre>
      {{ if $.Callers }}
      <strong>stack trace:</strong>
      <ul>
        {{ range $caller := $.Callers }}
        <li>{{ $caller }}</li>
        {{ end }}
      </ul>
      {{ end }}
    </details>
    {{ end }}
    {{ if $.Referer }}
    <div class='text-center link'><a href='{{ $.Referer }}' data-go-back>&larr; Go back</a></div>
    {{ end }}
  </div>
</div>
