{{ define "title" }}Login{{ end }}
{{ template "preamble" $ }}
{{- if $.RequireCaptcha }}
<script src='{{ $.CaptchaWidgetScriptSrc }}' async defer></script>
{{- end }}
{{ template "menu-pane" $ }}
<div id='not-menu-pane'>
  <form method='post' class='w-md lg:w-sm mx-auto' data-login-validation>
    <h1 class='text-xl font-bold text-center py-3'>Login</h1>
    {{- if eq (index $.FlashData "from") "invite" }}
    <div class='alert mb-3'>
      {{ template "tabler-info-circle" }}
      <h2>Account created, please log in using your new credentials.</h2>
    </div>
    {{- end }}
    {{- if eq (index $.FlashData "from") "resetpassword" }}
    <div class='alert mb-3'>
      {{ template "tabler-info-circle" }}
      {{- if index $.FlashData "emailSent" }}
      <h2>Password reset email sent (please check your spam folder if you do not see it).</h2>
      {{- else }}
      <h2>Password reset successfully, please log in using your new credentials.</h2>
      {{- end }}
    </div>
    {{- end }}
    {{- if eq (index $.FlashData "from") "changepassword" }}
    <div class='alert mb-3'>
      {{ template "tabler-info-circle" }}
      <h2>Password changed successfully, please log in using your new credentials.</h2>
    </div>
    {{- end }}
    {{- if eq $.Error "AlreadyAuthenticated" }}
    <div class='alert mb-3'>
      {{ template "tabler-info-circle" }}
      <h2>You are already logged in.</h2>
      <section><a href='/cms/' class='link'>Go to your dashboard.</a></section>
    </div>
    {{- else if eq $.Error "RetryWithCaptcha" }}
    <div class='alert mb-3'>
      {{ template "tabler-alert-triangle" }}
      <h2>Please retry with captcha.</h2>
    </div>
    {{- else if eq $.Error "CaptchaChallengeFailed" }}
    <div class='alert mb-3'>
      {{ template "tabler-alert-triangle" }}
      <h2>Captcha challenge failed.</h2>
    </div>
    {{- else if eq $.Error "IncorrectLoginCredentials" }}
    <div class='alert mb-3'>
      {{ template "tabler-alert-triangle" }}
      <h2>Incorrect username or password.</h2>
    </div>
    {{- else if eq $.Error "UserNotFound" }}
    <div class='alert mb-3'>
      {{ template "tabler-alert-triangle" }}
      <h2>User not found.</h2>
    </div>
    {{- else if eq $.Error "NotAuthenticated" }}
    <div class='alert mb-3'>
      {{ template "tabler-alert-triangle" }}
      <h2>Please log in.</h2>
    </div>
    {{- end }}
    <div class='grid gap-3'>
      <label for='username' class='label'>Username or Email:</label>
      <input id='username' type='text' name='username' value='{{ $.Username }}' class='input' placeholder='user@mail.com' autocomplete='on' required {{ if or (index $.FormErrors "username") (eq $.Error "IncorrectLoginCredentials") }}aria-invalid='true'{{ end }} {{ if eq (index $.FlashData "from") "resetpassword" }}autofocus{{ end }}>
      <ul class='list-disc px-4 text-sm text-red-600'>
        {{- range $error := index $.FormErrors "username" }}
        <li>{{ $error }}</li>
        {{- end }}
      </ul>
    </div>
    <div class='grid gap-3'>
      <label for='password' class='label'>Password:</label>
      <input id='password' type='password' name='password' class='input' autocomplete='on' required {{ if or (index $.FormErrors "password") (eq $.Error "IncorrectLoginCredentials") }}aria-invalid='true'{{ end }}>
      <ul class='list-disc px-4 text-sm text-red-600'>
        {{- range $error := index $.FormErrors "password" }}
        <li>{{ $error }}</li>
        {{- end }}
      </ul>
    </div>
    {{- if $.HasMailer }}
    <div class='link text-sm mb-3'><a href='/cms/resetpassword/'>forgot password?</a></div>
    {{- end }}
    {{- if $.Redirect }}
    <input type='hidden' name='$.Redirect' value='{{ $.Redirect }}'>
    {{- end }}
    {{- if $.RequireCaptcha }}
    <div class='{{ $.CaptchaWidgetClass }}' data-sitekey='{{ $.CaptchaSiteKey }}' data-captcha-response-name='{{ $.CaptchaResponseName }}'></div>
    {{- end }}
    <div role='status'></div>
    <button type='submit' class='btn w-full'>Log in</button>
  </form>
</div>
