{{ define "title" }}Notes{{ end }}
{{ template "base.html" $ }}
{{ define "topbar" }}
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" data-toggle-sidebar title="Toggle sidebar">{{ template "icon-tabler-layout-sidebar" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Create folder">{{ template "icon-tabler-folder-plus" }}</button> <button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Create note">{{ template "icon-tabler-plus" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Sort">{{ template "icon-tabler-sort-descending" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Search">{{ template "icon-tabler-search" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Pin">{{ template "icon-tabler-pin" }}</button>
{{ end }}
{{ define "bottombar" }}
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" data-toggle-sidebar title="Toggle sidebar">{{ template "icon-tabler-layout-sidebar" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Create">{{ template "icon-tabler-plus" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Sort">{{ template "icon-tabler-sort-descending" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Search">{{ template "icon-tabler-search" }}</button>
<button class="btn-icon-ghost text-white hover:bg-very-dark-cyan size-11 mx-2 lg:my-1" title="Pin">{{ template "icon-tabler-pin" }}</button>
{{ end }}
{{ define "content" }}
<ol class="text-muted-foreground flex flex-wrap items-center gap-1.5 text-sm break-words sm:gap-2.5 p-2 m-0 lg:mx-3 lg:my-2">
  <li class="inline-flex items-center gap-1.5">
    <a href="#" class="hover:text-foreground transition-colors">Home</a>
  </li>
  <li>{{ template "icon-basecoat-breadcrumb-separator" }}</li>
  <li class="inline-flex items-center gap-1.5">
    <a href="#" class="hover:text-foreground transition-colors">foo</a>
  </li>
  <li>{{ template "icon-basecoat-breadcrumb-separator" }}</li>
  <li class="inline-flex items-center gap-1.5">
    <a href="#" class="hover:text-foreground transition-colors">bar</a>
  </li>
  <li>{{ template "icon-basecoat-breadcrumb-separator" }}</li>
  <li class="inline-flex items-center gap-1.5">
    <a href="#" class="hover:text-foreground transition-colors">baz</a>
  </li>
  <li>{{ template "icon-basecoat-breadcrumb-separator" }}</li>
  <li class="inline-flex items-center gap-1.5">
    <a href="#" class="hover:text-foreground transition-colors">qux</a>
  </li>
  <li>{{ template "icon-basecoat-breadcrumb-separator" }}</li>
  <li class="inline-flex items-center gap-1.5">
    <a href="#" class="hover:text-foreground transition-colors">Components</a>
  </li>
  <li>{{ template "icon-basecoat-breadcrumb-separator" }}</li>
  <li class="inline-flex items-center gap-1.5">
    <span class="text-foreground font-normal">Breadcrumb</span>
  </li>
</ol>
<div class="m-0 lg:mx-3 lg:my-2">
  <div class="w-full flex justify-between my-2">
    <a href="#" class="btn-ghost"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6" /></svg> Previous</a>
    <a href="#" class="btn-ghost">Next <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6" /></svg></a>
  </div>
  <div class="border rounded-none lg:rounded-sm shadow-none lg:shadow-sm">
    <table class="table">
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>Checklist</td>
          <td>item 1</td>
          <td>1970-Jan-01</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Singapore places to eat</td>
          <td>Old school delights</td>
          <td>1970-Jan-01</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Japan shopping list</td>
          <td>tsutenkaku vegan options, try checking the hot and cold vending machines, uniqlo/GU shorts. Muji linen shorts?</td>
          <td>1970-Jan-01</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Paid</td>
          <td>Paypal</td>
          <td>1970-Jan-01</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Paid</td>
          <td>Credit Card</td>
          <td>1970-Jan-01</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Pending</td>
          <td>Bank Transfer</td>
          <td>1970-Jan-01</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Unpaid</td>
          <td>Credit Card</td>
          <td>1970-Jan-01</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="w-full flex justify-between my-2">
    <a href="#" class="btn-ghost"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6" /></svg> Previous</a>
    <a href="#" class="btn-ghost">Next <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6" /></svg></a>
  </div>
</div>
{{ end }}
