{{ define "title" }}Notes{{ end }}
{{ template "base.html" $ }}
{{ define "content" }}
<header class="sticky isolate z-10 border-b">
  <button class="btn-icon-ghost" data-toggle-sidebar data-tooltip="Toggle sidebar" data-side="bottom" data-align="start">{{ template "icon-tabler-layout-sidebar" }}</button>
  <button class="btn-icon-ghost" data-toggle-sidebar data-tooltip="Create note" data-side="bottom" data-align="start">{{ template "icon-tabler-pencil-plus" }}</button>
</header>
<div class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] gap-4 p-4">
  <div class="bg-[#ff9800] text-white p-4 text-center rounded">1</div>
  <div class="bg-[#ff9800] text-white p-4 text-center rounded">2</div>
  <div class="bg-[#ff9800] text-white p-4 text-center rounded">3</div>
  <div class="bg-[#ff9800] text-white p-4 text-center rounded">4</div>
  <div class="bg-[#ff9800] text-white p-4 text-center rounded">5</div>
  <div class="bg-[#ff9800] text-white p-4 text-center rounded">6</div>
</div>
{{ end }}
