@import "tailwindcss";
@import "basecoat-css";

:root {
  --side-pane-width: 16rem;
}

#side-pane {
  position: fixed;
  width: var(--side-pane-width);
  height: 100svh;
  height: 100vh;
  overflow: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 64rem) {
  #side-pane {
    box-shadow: none;
  }
  #not-side-pane {
    position: relative;
    left: var(--side-pane-width);
    width: calc(100dvw - var(--side-pane-width));
    width: calc(100vw - var(--side-pane-width));
  }
}
