@import "tailwindcss";
@import "basecoat-css";

:root {
  --menu-pane-height: 2.5rem;
  --side-pane-width: 16rem;
}

.link {
   @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-700
}

#menu-pane {
  position: fixed;
  height: var(--menu-pane-height);
  width: 100%;
}

#not-menu-pane {
  position: relative;
  top: var(--menu-pane-height);
}

#side-pane {
  position: fixed;
  width: var(--side-pane-width);
  height: calc(100svh - var(--menu-pane-height));
  height: calc(100vh - var(--menu-pane-height));
  overflow: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 64rem) {
  #side-pane {
    box-shadow: none;
  }
  #not-side-pane {
    position: relative;
    left: var(--side-pane-width);
    width: calc(100dvw - var(--side-pane-width));
    width: calc(100vw - var(--side-pane-width));
  }
}

#hamburger-menu-icon {
  width: 60%;
  height: 2px;
  background-color: white;
  will-change: transform;
}

#hamburger-menu-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  will-change: transform;
}

#hamburger-menu-icon::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  will-change: transform;
}

#hamburger-menu-icon.open {
  background-color: transparent;
  transition: background-color;
  transition-duration: 0.1s;
}

#hamburger-menu-icon.open::before {
  top: 0;
  transform: rotate(45deg);
  transition: top, transform, bottom;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

#hamburger-menu-icon.open::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: top, transform, bottom;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

details summary [data-show-more-show-less]::before {
  content: 'show more';
}

details[open] summary [data-show-more-show-less]::before {
  content: 'show less';
}

/* background color */
.bg-dark-cyan { background-color: #007d9c; }
.hover\:bg-very-dark-cyan:hover { background-color: #005469; }

/* basecoat overrides */
.btn-outline.btn-thin { height: 1.75rem; padding-block: 0; }
